= simple_form_for(@property, html: {class: 'form-group' }) do |f|
  /= f.error_messages
  = f.input :property_name, :placeholder => "Enter Property Name", :class => "form-control", :label => "Property Name"
  = f.input :ga_property_id, :placeholder => 'UA-XXXXXXX-XX', :label => "GA Property Id"
  = f.input :custom_data_id, :placeholder => "Alphanumeric String", :label => "Custom Data Upload Id"
  = f.button :submit, :class => "btn btn-success"