.page-header
  %h1 Properties

- if current_user.nil?
  %p There's no Properties to list
  = link_to "Sign up", new_user_registration_path
  or
  = link_to "Login", new_user_session_path
- else
  - @properties.each do |p|
    .media
      .media-body
        %h4.media-heading
          .well.well-sm
            = link_to p.property_name, p
            = "(#{p.ga_property_id})"
    = link_to "New Property", new_property_path,  { :class => 'btn btn-success' }