%h2= @property.property_name
%p
  %b Property Id: #{@property.ga_property_id}
%p
  %b Custom Data Source Id: #{@property.custom_data_id}
%p
  %b User Email: #{@property.user.email}
%p
= link_to "Edit Property", edit_property_path
%p
= link_to "Upload Cost Data", '#', { :class => 'btn btn-success' }